<h1>{{name}}</h1>

{{#if friends}}
  <h3>Friends:</h3>
  <ul>
  {{#each friend in friends}}
    <li>{{friend.name}} - <a href='#' {{action 'deleteFriend' friend}}>delete</a></li>   
  {{/each}}
  </ul>
{{else}}
  <h3>No friends</h3>
{{/if}}

<br>

{{#if pendingFriends}}
  <h3>Pending friend requests</h3>
  <ul>
  {{#each friend in pendingFriends}}
    <li>{{friend.name}} - <a href='#' {{action 'acceptFriend' friend}}>accept</a></li>
  {{/each}}
  </ul>
{{/if}}

<br>

<h4>Add Friends:</h4>
<ul>
  {{#each friend in possibleFriends}}
    <li><a href='#' {{action 'addFriend' friend}}>{{friend.name}}</a></li>
  {{/each}}
</ul>
{{outlet}}
